* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.wrapper {
  padding: 0 50px;
  max-width: 1200px;
  margin: auto;
  background-color: rgb(187, 193, 200);
  min-height: 100vh;
}
